

:root{
    --gold1: #D6B881;
    --dark-gold: rgb(243, 204, 106);
    --hover:rgb(195, 252, 146);
    --blue1: rgb(200, 230, 240);
}

button:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    max-width: 100vw;
    height: 100vh;
}


.navbar{
    width: 100%;
    display: flex;
    position: fixed !important;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    white-space: nowrap;
    background-color: green;
    color: white;
    z-index: 3000;
    position: absolute;
}


@media(max-width:381px){
    .navbar button{
        display: none;
    }
}

.navbar h1{
    font-family: cursive;
}

.navbar span{
    color: white;
    font-size: 17px;
}

.navbar button{
    width: 201px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: all .50s;
    border: none;
    margin-right: 15px;
}

.navbar button:hover{
    background-color: var(--hover);
    color: black;
}


#menubar{
    cursor: pointer;
    display: inline-block;
}

.bar{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 4px;
    transition: all .50s;
}


.change .bar1{
    transform: translate(0, 8px)rotate(-45deg);
}


.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0,-10px)rotate(45deg);
}


.right-nav{
    display:inline-flex;
    align-items: center;
}

.blank-canvas{
    width: 100%;
    height: 0;
    background-color: var(--hover);
    transition: all .50s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2000;
    margin-top: 50px;

}

.link-wrapper{
    display: none;
}

.show-link-wrapper{
    display: block;
}

.link-wrapper li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    transition: all .50s;
}

.link-wrapper li a:hover{
    text-decoration: underline green 2px;
}

.link-wrapper li{
    list-style: none;
    margin: 20px;
    
}


.changeHeight{
    height: 300px;
}


/****home***/
#home {
    max-width: 100vw;
    height: 100vh;
    padding: 0 15px 0 15px;
    background-color: white;
}

.home-wrapper {
    width: 100%;
    height: 100vh; /* Set height to full viewport height */
    overflow: hidden; /* Ensure video stays within container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-wrapper video {
    width: 100%; /* Let the width adjust according to the aspect ratio */
    height: 100%; /* Fill the full height of the container */
    object-fit: cover; /* Ensure video covers the container */
}

.home-content{
    position: absolute;
    color: white;
}

.home-content>div{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 230px;
}

.home-title h1{
    font-weight: 900;
    animation: slide-in 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards; 
}


@keyframes slide-in{
    0%{opacity: 0;
       transform: translateX(-30px); 
    }
    100%{opacity: 1};
}

@-moz-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px); 
    }
     100%{opacity: 1};
}

@-webkit-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px); 
    }
     100%{opacity: 1};
}

@-o-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px)
    };

    100%{opacity: 1};
}



.home-sub-title p{
    animation: slide-in 1s;
    animation-delay: 1s;
    opacity: 0;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards;
}


.book-btn button{
    width: 230px;
    height: 40px;
    border-radius: 50px;
    border: solid white;    
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all .50s;
    animation: slide-in 1s;
    animation-delay: 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.book-btn button:hover{
    background-color: var(--hover);
    color: black;
}



/****about section****/

#about{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
}

#about::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
}

.about-wrapper{
    width: 100%;
    padding: 0 20px 0 20px;
}

.about-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-content p{
    width: 400px ;
}



/****workers section****/

#workers{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}


.worker-grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}


@media(max-width:474px){
    .worker-grid-wrapper{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .staff-wrapper>div{
        display: flex;
        justify-content: center;
        text-align: center !important;
    }

    .navbar button{
        display: none;
    }
}


.staff{
    width: 100%;
}

.staff img{
    width: 100%;
}

.staff-wrapper{
    padding: 0 15px 0 15px;
}

.staff-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: left;
}

.position{
    text-align: center !important;
}


.bio-button a{
    text-decoration: none;
}


.bio-button{
    width: 250px;
    height: 45px;
    margin-top: 8%;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    border: solid green 1px;
    transition: all .50s ;
}

.bio-button:hover{
    background-color: var(--hover);
    color: black;
}




/****sports massage****/
#sports-massage{
    padding: 0 10px 0 10px;
    width: 100%;
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


@media(max-width:738px){
    #sports-massage{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .tissue-massage-img{
        grid-row-start: 1;
    } 
}


.sports-massage-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.about-sports-massage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sports-title h1{
    font-size: 50px;
    color: green;
}


.sports-massage-content{
    padding: 0 20px 0 10px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.sports-massage-content p{
    font-size: 20px;
}


.sports-massage-btn{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.sports-massage-btn button{
    height: 50px;
    width: 230px;
    border-radius: 50px;
    border: solid black;
    background-color: white;
    cursor: pointer;
    transition: all .50s;
}


.sports-massage-btn button:hover{
    background-color: var(--hover);
}



.tissue-massage{
    margin-top: 20px;
}




/****testimonials*****/

#testimonials{
    width: 100%;
    margin-top: 10%;
    position: relative;
    top: 60px;
    background-color: rgb(73, 123, 73);
    color: white;
}



.testimonials-title-wrapper>div{
    display: flex;
    justify-content: center;
}

.testimonial-overflow-box{
    width: 100%;
    padding: 0 10px 0 10px;
    overflow-x: auto; 
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    scroll-behavior: smooth;
}



.testimonial-overflow-box, 
.blog-overflow-box {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.testimonial-overflow-box::-webkit-scrollbar, 
.blog-overflow-box::-webkit-scrollbar{
    display: none;
}


.testimonial-card{
    background-color: white;
    color: black;
    width: 400px;
    padding: 0 0 0 10px;
    border: solid white;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 10px;
    display: inline-block;
}

@media(max-width:411px){
    .testimonial-card{
        width: 350px;
    }
}


.rating-stars span{
    font-size: 25px;
}

.no-color{
    color: grey;
}
.yellow{
    color: yellow;
}

.rating-user .fa{
    border: solid black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.rating-title p{
    font-weight: 500;
    font-size: 25px;
}

.arrow-btns{
    display: flex;
    justify-content: center;
}

.arrow-btns .fa{
    margin: 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .50s;
}

.arrow-btns .fa:hover{
    background-color: black;
    color: white;
}

.slider-radio{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.slider-radio input{
    margin: 5px;
    cursor: none;
}





/****blog section****/


#blog{
    width: 100%;
    margin-top: 60px;
    padding: 0 20px 0 20px;
}

.blog-title-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-caret-slider{
    float: right;
}

.blog-caret-slider .fa{
    font-size: 30px;
    margin: 5px;
    color: black;
    border: solid black;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all .50s;
}

.blog-caret-slider .fa:hover{
    background-color: black;
    color: white;
}


.blog-overflow-box{
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px 10px 0 10px;
    color: white;
    background-color: rgb(73, 123, 73);
    scroll-behavior: smooth;

}

.blog-card{
    width: 380px;
    padding: 10px 20px 0 20px;
    border: solid white 1px;
}

.blog-img{
    width: 100%;
    height: 300px;
}

.blog-img img{
    width: 100%;
    height: 100%;
}


.blog-date p{
    color: ghostwhite;
    font-weight: 900;
}


/****contact hours****/

#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;padding: 0 20px 0 20px;
}

.contact-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}

@media(max-width: 533px) {
    .contact-grid{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
}

.contact-grid>div{
    text-align: center; 
}


.contact-grid h1{
    color: green;
}



/****contact section***/

#contact-section{
    width: 100%;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    color: white;
    padding: 0 20px 0 20px;
}

@media(max-width: 975px){
    #contact-section{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .contact-lottie iframe{
        width: 250px !important;
        height: 250px !important;
    } 
}

.contact-lottie{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-section iframe{
    border: none;
    width: 500px;
    height: 500px;
}

.contact-title{
    margin-top: 60px;
    padding-left: 20px;
}

#contact-section input{
    width: 220px;
    height: 45px;
    background-color: transparent;
    border-radius: 10px;
    border: solid white;
    padding-left: 20px;
    color: white;
    font-weight: 600;
}

#contact-section input::placeholder, #contact-section textarea::placeholder{
    color: white;
}

#contact-section input:focus, #contact-section textarea:focus{
    outline: none;
}

#contact-section textarea{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: transparent;
    border: solid white;
    color: white;
    font-weight: 700;
}

#contact-form>div{
    margin: 20px;
}

#contact-section input[type=submit]{
    width: 120px;
    height: 40px;
    background-color: white;
    color: black;
    cursor: pointer;
    align-items: center;
    border-radius: 0;
    padding: 0;
    transition: all .50s;
}


#contact-section input[type=submit]:hover{
    background-color: var(--hover);
    color: white;
}


/***copyright section****/

#copyright{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px 5px 20px;
}


#copyright{
    display: inline-block !important;
    display: flex;
    justify-content: space-between;
}
.watermark{
    color: white;
}

#copyright .logo{
    color: white;
}




/***PRICING SECTION PAGE****/
#pricing-header{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing-wrapper>div{
    text-align: center;
}

.pricing-wrapper p{
    width: 330px;
    animation: slide-in 1s;
    animation-delay: 1s;
    opacity: 0;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards;
}

.pricing-wrapper span{
    color: green;
    font-weight: bold;
}

.pricing-wrapper h1{
    font-weight: 900;
    color: green;
    animation: slide-in 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards;
}


.underline{
    display: flex;
    justify-content: center;
}

.line{
    background-color: green;
    width: 90%;
    height: 3px;
}



.pricing {
    background-color: #fff;
    margin: 0 auto 40px;
    max-width: 270px;
    position: relative;
    text-align: left;
  }
  .pricing * {
    position: relative;
  }
  .pricing:before {
    background: #f7f7f7;
    background: rgba(30,30,30,.06);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .pricing .title {
    line-height: 32px;
    padding: 17px 20px 21px;
  }
  .pricing .title a {
    color: #1e1e1e;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-decoration: none;
  }
  .pricing .price-box {
    font-size: 12px;
    line-height: 1;
    overflow: hidden;
    padding: 0 20px 20px;
  }
  .pricing .price-box .icon {
    background: #fff;
    color: #505050;
    height: 60px;
    text-align: center;
    width: 60px;
    z-index: 1;
  }
  .pricing .price-box .icon i,
  .pricing .price-box .icon .livicon {
    background: none;
    font-size: 30px;
    height: auto;
    line-height: 52px;
    margin: 0;
    width: auto;
  }
  .pricing .price-box .icon .livicon {
    height: 60px !important;
  }
  .pricing .price-box .icon .livicon svg {
    top: 0 !important;
    vertical-align: middle;
  }
  .pricing .price-box .price {
    font-size: 36px;
    font-weight: bold;
    margin: 13px 0 0;
  }
  .pricing .price-box .price span {
    font-size: 12px;
  }
  .pricing .options {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .pricing .options li {
    border-top: 1px solid rgba(30,30,30,.1);
    color: #999;
    color: rgba(30,30,30,.4);
    line-height: 22px;
    padding: 13px 10px 13px 45px;
    position: relative;
  }
  .pricing .options li span {
    color: #1e1e1e;
    display: none;
    left: 25px;
    line-height: 1;
    position: absolute;
    top: 16px;
  }
  .pricing .options li.active {
    color: #1e1e1e;
  }
  .pricing .options li.active span {
    display: block;
  }
  .pricing .bottom-box {
    border-top: 1px solid rgba(30,30,30,.1);
    background: rgba(30,30,30,.05);
    overflow: hidden;
    padding: 19px 19px 20px;
  }
  .pricing .bottom-box .more {
    color: #7f7f7f;
    color: rgba(30,30,30,.7);
    display: block;
    float: left;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }
  .pricing .bottom-box .more:hover {
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }
  .pricing .bottom-box .more span {
    font-size: 17px;
    line-height: 12px;
    margin: 0 0 0 3px;
    vertical-align: top;
  }
  .pricing .bottom-box .rating-box {
    float: right;
  }
  .pricing .bottom-box .btn {
    font-weight: bold;
    margin: 19px 0 0;
    width: 100%;
  }
  .pricing.prising-info:before {
    background: rgba(1,165,219,.06);
  }
  .pricing.prising-info .title a {
    color: #01a5db;
  }
  .pricing.prising-info .price-box .icon {
    color: #35beeb;
    border-color: #35beeb;
  }
  .pricing.prising-info .options li,
  .pricing.prising-info .bottom-box {
    border-color: rgba(1,165,219,.1);
    color: rgba(1,165,219,.4);
  }
  .pricing.prising-info .bottom-box {
    border-top: 1px solid rgba(1,165,219,.1);
    background: rgba(1,165,219,.05);
  } 
  .pricing.prising-info .options li span,
  .pricing.prising-info .bottom-box .more,
  .pricing.prising-info .options li.active {
    color: #01a5db;
  }
  .pricing.pricing-success:before {
    background: rgba(132,162,0,.06);
  }
  .pricing.pricing-success .title a {
    color: #84a200;
  }
  .pricing.pricing-success .price-box .icon {
    border-color: #9ab71a;
    color: #9ab71a;
  }
  .pricing.pricing-success .options li,
  .pricing.pricing-success .bottom-box {
    border-color: rgba(132,162,0,.1);
    color: rgba(132,162,0,.4);
  }
  .pricing.pricing-success .bottom-box {
    border-top: 1px solid rgba(132,162,0,.1);
    background: rgba(132,162,0,.05);
  }
  .pricing.pricing-success .bottom-box .more,
  .pricing.pricing-success .options li span,
  .pricing.pricing-success .options li.active {
    color: #84a200;
  }
  .pricing.pricing-error:before {
    background: rgba(212,7,70,.06);
  }
  .pricing.pricing-error .title a {
    color: #d40746;
  }
  .pricing.pricing-error .price-box .icon {
    border-color: #de2a61;
    color: #de2a61;
  }
  .pricing.pricing-error .options li,
  .pricing.pricing-error .bottom-box {
    border-color: rgba(212,7,70,.1);
    color: rgba(212,7,70,.4);
  }
  .pricing.pricing-error .bottom-box {
    border-top: 1px solid rgba(212,7,70,.1);
    background: rgba(212,7,70,.05);
  }
  .pricing.pricing-error .options li span,
  .pricing.pricing-error .bottom-box .more,
  .pricing.pricing-error .options li.active {
    color: #d40746;
  }
  
  .icon.border {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-width: 1px;
  }
  
  .icon.circle {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  }
  .icon.pull-right {
      float: right;
      margin-left: 10px;
  }
  
  .pricing-warning:before {
      background-color: rgba(248,148,6,.06) !important;
  }
  
  .pricing.pricing-info:before {
      background: rgba(1,165,219,.06);
  }
  
  .pricing-warning .title a, .pricing-warning .options li.active, .pricing-warning .options li span, .package .title a, .package .price-box .price {
      color: #f89406 !important;
  }
  
  .pricing.pricing-info .options li span, .pricing.pricing-info .bottom-box .more, .pricing.pricing-info .options li.active {
      color: #01a5db;
  }
  
  .pricing.pricing-info .options li, .pricing.pricing-info .bottom-box {
      border-color: rgba(1,165,219,.1);
      color: rgba(1,165,219,.4);
  }
  
  .pricing.pricing-warning .options li {
      color: rgba(248,148,6,.4);
  }
  
  .pricing.pricing-info .title a {
      color: #01a5db;
  }




#location-page{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.location-page-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 0 20px 0 20px;
}

@media(max-width: 812px){
    .location-page-grid{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 0 20px 0 20px;
    }
}

.location-page-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    width: 100%;
}

.location-title h1{
    font-weight: 900;
    animation: slide-in 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards; 
}


.location-address{
    animation: slide-in 1s;
    animation-delay: 1s;
    opacity: 0;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards;
}


/****bio container****/

.bio-container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

@media(max-width:864px){
    .bio-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .staff-icon{
        margin-top: 50px;
    }
}

.staff-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.staff-context{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}



.tabs-bar li{
    display: inline-block;
    list-style: none;
    margin: 6px;
}

.tabs-bar li button{
    width: 130px;
    height: 35px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .50s;
}

@media(max-width:651px){
    .tabs-bar li button{
        width: 90px;
        height: 25px;
        font-size: 10px;
    }
}


.tabs-context{
    width: 100%;
    box-shadow: 3px 3px 3px 5px grey;
    padding: 20px;
    display: none !important;
}


.tabs-wrapper{
    width: 100%;
}


.tab-title{
    color: green;
}

.changeColor{
    background-color: var(--hover) !important;
    color: black !important;
}


.showCard{
    display: inline-block !important;
}