

:root{
    --gold1: #D6B881;
    --dark-gold: rgb(243, 204, 106);
    --hover:rgb(195, 252, 146);
    --blue1: rgb(200, 230, 240);
}

button:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    max-width: 100vw;
    height: 100vh;
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    white-space: nowrap;
    background-color: green;
    color: white;
}


@media(max-width:381px){
    .navbar button{
        display: none;
    }
}


.navbar button{
    width: 201px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: all .50s;
    border: none;
    margin-right: 15px;
}

.navbar button:hover{
    background-color: var(--hover);
    color: black;
}


#menubar{
    cursor: pointer;
    display: inline-block;
}

.bar{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 4px;
    transition: all .50s;
}


.change .bar1{
    transform: translate(0, 8px)rotate(-45deg);
}


.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0,-10px)rotate(45deg);
}


.right-nav{
    display:inline-flex;
    align-items: center;
}

.blank-canvas{
    width: 100%;
    height: 0;
    background-color: var(--hover);
    transition: all .50s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-wrapper li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    transition: all .50s;
}

.link-wrapper li a:hover{
    text-decoration: underline green 2px;
}

.link-wrapper li{
    list-style: none;
    margin: 20px;
    
}


.changeHeight{
    height: 300px;
}


/****home***/
#home {
    max-width: 100vw;
    height: 100vh;
    padding: 0 15px 0 15px;
    background-color: white;
}

.home-wrapper {
    width: 100%;
    height: 100vh; /* Set height to full viewport height */
    overflow: hidden; /* Ensure video stays within container */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-wrapper video {
    width: 100%; /* Let the width adjust according to the aspect ratio */
    height: 100%; /* Fill the full height of the container */
    object-fit: cover; /* Ensure video covers the container */
}

.home-content{
    position: absolute;
    color: white;
}

.home-content>div{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 230px;
}

.home-title h1{
    font-weight: 900;
    animation: slide-in 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards; 
}


@keyframes slide-in{
    0%{opacity: 0;
       transform: translateX(-30px); 
    }
    100%{opacity: 1};
}

@-moz-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px); 
    }
     100%{opacity: 1};
}

@-webkit-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px); 
    }
     100%{opacity: 1};
}

@-o-keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-30px)
    };

    100%{opacity: 1};
}



.home-sub-title p{
    animation: slide-in 1s;
    animation-delay: 1s;
    opacity: 0;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    animation-fill-mode: forwards;
}


.book-btn button{
    width: 230px;
    height: 40px;
    border-radius: 50px;
    border: solid white;    
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: all .50s;
    animation: slide-in 1s;
    animation-delay: 2s;
    -moz-animation: slide-in 2s;
    -o-animation: slide-in 2s;
    -webkit-animation: slide in 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

.book-btn button:hover{
    background-color: var(--hover);
    color: black;
}



/****about section****/

#about{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
}

#about::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: left bottom;
    transform: skewY(2deg);
}

.about-wrapper{
    width: 100%;
    padding: 0 20px 0 20px;
}

.about-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.about-content p{
    width: 400px ;
}



/****workers section****/

#workers{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 30px;
}


.worker-grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
}


@media(max-width:474px){
    .worker-grid-wrapper{
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .staff-wrapper>div{
        display: flex;
        justify-content: center;
        text-align: center !important;
    }

    .navbar button{
        display: none;
    }
}


.staff{
    width: 100%;
}

.staff img{
    width: 100%;
}

.staff-wrapper{
    padding: 0 15px 0 15px;
}

.staff-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: left;
}

.position{
    text-align: center !important;
}


.bio-btn button{
    width: 50%;
    height: 45px;
    margin-top: 8%;
    border-radius: 40px;
    background-color: white;
    cursor: pointer;
    border: solid green 1px;
    transition: all .50s ;
}

.bio-btn button:hover{
    background-color: var(--hover);
    color: black;
}




/****sports massage****/
#sports-massage{
    padding: 0 10px 0 10px;
    width: 100%;
    position: relative;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}


@media(max-width:738px){
    #sports-massage{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .tissue-massage-img{
        grid-row-start: 1;
    } 
}


.sports-massage-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.about-sports-massage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sports-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.sports-title h1{
    font-size: 50px;
    color: green;
}


.sports-massage-content{
    padding: 0 20px 0 10px;
    display: flex;
    justify-content: center;
    text-align: left;
}

.sports-massage-content p{
    font-size: 20px;
}


.sports-massage-btn{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.sports-massage-btn button{
    height: 50px;
    width: 230px;
    border-radius: 50px;
    border: solid black;
    background-color: white;
    cursor: pointer;
    transition: all .50s;
}


.sports-massage-btn button:hover{
    background-color: var(--hover);
}



.tissue-massage{
    margin-top: 20px;
}




/****testimonials*****/

#testimonials{
    width: 100%;
    margin-top: 10%;
    position: relative;
    top: 60px;
    background-color: rgb(73, 123, 73);
    color: white;
}



.testimonials-title-wrapper>div{
    display: flex;
    justify-content: center;
}

.testimonial-overflow-box{
    width: 100%;
    padding: 0 10px 0 10px;
    overflow-x: auto; 
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    scroll-behavior: smooth;
}



.testimonial-overflow-box, 
.blog-overflow-box {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.testimonial-overflow-box::-webkit-scrollbar, 
.blog-overflow-box::-webkit-scrollbar{
    display: none;
}


.testimonial-card{
    background-color: white;
    color: black;
    width: 400px;
    padding: 0 0 0 10px;
    border: solid white;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 10px;
    display: inline-block;
}

@media(max-width:411px){
    .testimonial-card{
        width: 350px;
    }
}


.rating-stars span{
    font-size: 25px;
}

.no-color{
    color: grey;
}
.yellow{
    color: yellow;
}

.rating-user .fa{
    border: solid black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.rating-title p{
    font-weight: 500;
    font-size: 25px;
}

.arrow-btns{
    display: flex;
    justify-content: center;
}

.arrow-btns .fa{
    margin: 40px;
    background-color: white;
    color: black;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .50s;
}

.arrow-btns .fa:hover{
    background-color: black;
    color: white;
}

.slider-radio{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.slider-radio input{
    margin: 5px;
    cursor: none;
}





/****blog section****/


#blog{
    width: 100%;
    margin-top: 60px;
    padding: 0 20px 0 20px;
}

.blog-title-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-caret-slider{
    float: right;
}

.blog-caret-slider .fa{
    font-size: 30px;
    margin: 5px;
    color: black;
    border: solid black;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all .50s;
}

.blog-caret-slider .fa:hover{
    background-color: black;
    color: white;
}


.blog-overflow-box{
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0 10px 0 10px;
    color: white;
    background-color: rgb(73, 123, 73);
    scroll-behavior: smooth;

}

.blog-card{
    width: 400px;
    padding: 0 10px 0 10px;
    border: solid white 1px;
}

.blog-img{
    width: 100%;
    height: 300px;
}

.blog-img img{
    width: 100%;
    height: 100%;
}


.blog-date p{
    color: ghostwhite;
    font-weight: 900;
}
