
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400..700&family=Reddit+Mono:wght@200..900&display=swap');

:root{
    --gold1: #D6B881;
    --dark-gold: rgb(243, 204, 106);
    --hover:rgb(195, 252, 146);
    --blue1: rgb(200, 230, 240);
}

button:focus{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

#container{
    max-width: 100%;
    background-color: var(--blue1);
}


.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    white-space: nowrap;
}


@media(max-width:381px){
    .navbar button{
        display: none;
    }
}


.navbar button{
    width: 201px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: all .50s;
    border: none;
    margin-right: 15px;
}

.navbar button:hover{
    background-color: var(--hover);
    color: black;
}


#menubar{
    cursor: pointer;
    display: inline-block;
}

.bar{
    width: 30px;
    height: 5px;
    background-color: black;
    margin: 4px;
    transition: all .50s;
}


.change .bar1{
    transform: translate(0, 8px)rotate(-45deg);
}


.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0,-10px)rotate(45deg);
}


.right-nav{
    display:inline-flex;
    align-items: center;
}

.blank-canvas{
    width: 100%;
    height: 0;
    background-color: var(--blue1);
    transition: all .50s;
}

.changeHeight{
    height: 300px;
}


/****home***/

#home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.slide1, .slide2, .slide3 {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide1 {
background-image: url(images/slide1.webp);
}

.slide2 {
background-image: url(images/slide2.jpg);
}

.slide3 {
background-image: url(images/slide3.avif);
}

@keyframes fade {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
  

.prev, .next{
    position: relative;
}


.slide-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;  
}

.slide-btn .fa{
    width: 50px;
    height: 50px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50px;
    color: white;
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .50s;
}


.slide-btn .fa:hover{
    background-color: var(--hover);
    color: black;
    transform: scale(1.5);
}

.book-btn{
    width: 201px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 40px;
    cursor: pointer;
    transition: all .50s;
    border: none;
    margin-right: 15px;
    animation: slide-in 1s;
    animation-fill-mode: forwards;
}

.book-btn:hover{
    background-color: var(--hover);
    color: black;
}

@keyframes slide-in{
    0%{opacity: 0;
        transform: translateX(-50px);
    }
    100%{opacity: 1;}
}


.slides p{
    width: 400px;
    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 25px;
}



/***services****/

#services{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}

.service-wrapper{
    padding: 0 20px 0 20px;
}


.service-wrapper>div{
    display: flex;
    justify-content: center;
    text-align: center;
}
